DATABASE_URL="postgresql://user:password@localhost:5432/aerolab_escuelas"
JWT_SECRET="your-super-secret-key-min-32-chars-change-this-in-production"
JWT_REFRESH_SECRET="your-super-secret-refresh-min-32-chars-change-this-in-production"
RESEND_API_KEY="re_xxxxxxxxxxxxx"
RESEND_FROM_EMAIL="noreply@aerolab.com"
PORT=3000
NODE_ENV="development"
FRONTEND_URL="http://localhost:3000"
FRONTEND_PROD_URL="https://escuelas.aerolab.com"
